.adminContainer, .showcaseContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    padding: 20px 5%;
}

#adminPanel, .showcase{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #b5b3b3;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 2px;
    border-radius: 5px;
}

.showcase{
    border-style: solid;
    padding: 3px 9px;
}

.sopAccess{
    width: 100%;
    display: flex;
    align-items: center;
}

.sopAccessName{
    margin: 0 0 0 5px;
    text-align: center;
    font-size: 14px;
}

.showcasePersonMail{
    border-bottom-style:double;
    border-color: #b5b3b3;
    border-width: 2px;
    padding: 3px 0;
}

input[type='checkbox']:hover{
    cursor: pointer;
}

.sopAccessCheck{
    height: 18px;
    width: 18px;
}

.accessCheckCont{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminPanelRow{
    display: flex;
    flex-basis: 100%;
}

.activeNo{
    color: darkred;
    font-weight: bold;
}

.activeYes{
    color: darkgreen;
    font-weight: bold;
}

.generalFormHead{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    height: 40px;
    border-color: #b5b3b3;
    border-style:solid;
    border-left-style: none;
    border-right-style: none;
    border-width: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.generalFormSopHead{
    min-height: 40px;
    max-height: 120px;
    height: unset !important;
}

.homeAdmin{
    display: flex;
    justify-content: center;
}

.emailInputInv{
    display: flex;
    align-items: center;
    gap: 5px;
}

.invButtonsContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.invForm{
    padding: 3px 10px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rolePadd{
    padding: 10px 5px;
}

.topLeftPad{
    border-top-left-radius: 5px;
}

.bottomLeftPad{
    border-bottom-left-radius: 5px;
}

.bottomRightPad{
    border-bottom-right-radius: 5px;
}

.urlFileFormHead{
    flex-basis: 65%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap
}

.fileDescription{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.plusIconCont{
    flex-basis: 100%;
    display: flex;
    justify-content: end;
    padding: 0 7.5px 0 0;
    align-items: center;
    border-bottom-style: solid;
    border-color: #b5b3b3;
    border-radius: 5px;
    border-width: 2px;
}

.plusIcon{
    opacity: 0.3;
    /* filter: invert(21%) sepia(92%) saturate(1112%) hue-rotate(96deg) brightness(94%) contrast(102%); */
    width: 25px;
}

.descContainer{
    display: flex;
    justify-content: space-between;
}

.fileEditText{
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

.plusIcon:hover{
    opacity: 1;
    cursor: pointer;
}

.hidden{
    display: none !important;
}

.topRightPad{
    border-top-right-radius: 5px;
}

.addedElem{
    border-top-style: none;
}

.nameFormHead{
    flex-basis: 20%;
}

.activeFormHead{
    flex-basis: 10%;
}

.roleFormHead{
    flex-basis: 20%;
}

.emailFormHead{
    flex-basis: 40%;
}

.headEmptySpace{
    flex-basis: 10%;
}

.headEmptySpace::after{
    content: "";
}

.iconCont{
    flex-basis: 10%;
    padding: 0 10px!important;
    display: flex;
    justify-content: end;
    align-items: center;
}

.delCont{
    display: flex;
    flex-basis: 10%;
}

.delButtons{
    flex-basis: 2%;
}

.iconCont > img{
    opacity: 0.3;
    visibility: hidden;
}

.iconCont > img:hover{
    opacity: 1;
    cursor: pointer;
}

.adminPanelContainer{
    flex-basis: 100%;
}

#showcaseEditIcon{
    height: 25px;
    opacity: 0.3;
}

#showcaseEditIcon:hover{
    opacity: 1;
    cursor: pointer;
}

.trashIcon{
    height: 20px;
}

.descriptionSopFormHead{
    flex-basis: 65%;
    padding-right: 15px;
    font-size: 14px;
}

.nameSopFormHead{
    flex-basis: 25%;
}

.scrollable{
    overflow-y: scroll;
}

.b{
    font-weight: bold;
}

.adminInvButton{
    flex-basis: 100%;
    display: flex;
    justify-content: right;
    padding: 5px
}

.smallerButton{
    height: 35px;
    line-height: 21px;
}

.adminPanelRowUser:hover > .iconCont > img{
    visibility: visible;
}

.panels{
    flex-basis: 50%;
}

.accessButtonCont{
    display: flex;
    justify-content: end;
    gap: 3px;
}

.showcases{
    flex-basis: 45%;
}

h6{
    margin: 2px 0;
}

.accessText{
    margin-bottom:10px;
    line-height: 1.2;
}

.adminPanelRowUser:hover{
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
}

/*  email:40
    role:20
    name:20
    active:10
    total: 90%

*/